<h2>{{title}}</h2>

<!-- <app-reactive-form></app-reactive-form>
 <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="Enter you name" formControlName="user">
  <br>
  <span style="color:red" *ngIf="user && user.invalid && user.touched">This input field is not valid</span>
  <br>
  <br>
  <input type="password" placeholder="Enter password" formControlName="password"><br>
  <span style="color:red" *ngIf="password && password.invalid && password.touched">password input field is not
    valid</span>
  <br><br>

  <label for="street">Street: </label>
  <input id="street" type="text" formControlName="street"><br>
  <span style="color:red" *ngIf="street && street.invalid && street.touched ">insert valid street
  </span><br>
  
  <label for="city">City: </label>
  <input id="city" type="text" formControlName="city"><br>
  <span style="color:red"  *ngIf="city && city.invalid && city.touched">insert valid city</span><br><br>


  <label for="state">State: </label>
  <input id="state" type="text" formControlName="state"><br>
  <span style="color:red"  *ngIf="state && state.invalid && state.touched">insert valid state</span><br><br>

  <label for="zip">Zip Code: </label>
  <input id="zip" type="text" formControlName="zip"><br><br>

 
  <button [disabled]="loginForm.invalid">Submit</button>
</form> -->


<!-- <div *ngFor="let emp of empForm.get('education')!.controls" formArrayName="education">
  <button (click)="onAddEdu()">Add Education</button>
</div>
<table [formGroup]="empForm" style="width:100%">
  <tr>
    <td>Emp Name</td>
    <td>University name</td>
    <td>Result</td>
    <td>Year of passing</td>
    <td>Action</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
    <td>14</td>
    <td><button>submit</button></td>

  </tr>
</table> -->

<form [formGroup]="gaugeTitleForm">
  <button class="btn btn-primary" (click)="addItem()" type="button">Add Education</button>
  <!-- "firstname.invalid && (firstname.touched || submitted)" -->
  <table>
    <thead>
      <tr>
        <td>Employee Name</td>
        <td>University Name</td>
        <td>Result</td>
        <td>Year Of passing</td>
        <td>Action</td>
        <td>Select</td>
      </tr>
    </thead>
    <br>
    <tbody formArrayName="gaugeTitles" *ngFor="let item of gaugeTitleFormArray.controls; let i = index;">
      <tr [formGroupName]="i">
        <td>
          <input type="text" *ngIf="!item.get('isEditable')?.value && item.get('selectEmpData')?.value != 'empname'"
           formControlName="empname"
            placeholder="Employee Name" name="empname">
          <br>
          <span class="validation"
            *ngIf="item.get('empname')?.invalid && (item.get('empname')?.touched || submitted)">Employee name is
            required</span>
          <span *ngIf="item.get('isEditable')?.value">{{item.get('empname')?.value}}</span>
        </td>

        <td>
          <input type="text" *ngIf="!item.get('isEditable')?.value && item.get('selectEmpData')?.value != 'uniname'" formControlName="uniname"
            placeholder="University Name"><br>
          <span class="validation"
            *ngIf="item.get('uniname')?.invalid && (item.get('uniname')?.touched || submitted)">University name is
            required
          </span>
          <span *ngIf="item.get('isEditable')?.value">{{item.get('uniname')?.value}}</span>
        </td>

        <td>
          <input type="text" *ngIf="!item.get('isEditable')?.value && item.get('selectEmpData')?.value != 'result'" formControlName="result" placeholder="Result"><br>
          <span class="validation"
            *ngIf="item.get('result')?.invalid && (item.get('result')?.touched || submitted)">Result is required</span>
          <span *ngIf="item.get('isEditable')?.value">{{item.get('result')?.value}}</span>
        </td>

        <td>
          <input type="text" *ngIf="!item.get('isEditable')?.value && item.get('selectEmpData')?.value != 'yearofpassing'" formControlName="yearofpassing"
            placeholder="YearofPassing"><br>
          <span class="validation"
            *ngIf="item.get('yearofpassing')?.invalid && (item.get('yearofpassing')?.touched || submitted)">Passing Year
            is required
          </span>
          <span *ngIf="item.get('isEditable')?.value">{{item.get('yearofpassing')?.value}}</span>
        </td>

        <td>
          <button *ngIf="!item.get('isEditable')?.value" type="button" (click)="save(item);">Save</button>
          <button *ngIf="item.get('isEditable')?.value" type="button" (click)="onEdit(item)">Edit</button>
          <button type="button" (click)="removeRow(i)">Remove</button>
        </td>


        <td>
          <select formControlName="selectEmpData" name="select" id="select" (change)="onChange($event, i)" >
            <option value="none">None</option>
            <option value="empname">Employee Name</option>
            <option value="uniname">University Name</option>
            <option value="result">Result</option>
            <option value="yearofpassing">Year Of passing</option>
          </select>
        </td>
      </tr>
      <!-- <tr *ngIf="!item.get('isEditable').value">
        <td>
        
        </td>
        <td>
          {{item.get('uniname').value}}
        </td>
        <td>
          {{item.get('result').value}}
        </td>
        <td>
          {{item.get('yearofpassing').value}}
        </td>
      </tr> -->
    </tbody>
  </table>
</form>

<app-reactive-form></app-reactive-form>
<!-- <p>{{empname}}</p> -->
<!-- [disabled]="!gaugeTitleForm.valid -->